body{
    background-color: #ffffff;
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

button{
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #555;
}

/* Modo oscuro */

body.oscuro {
    background-color: #121212;
    color: #e0e0e0;
}

body.oscuro button{
    background-color: #e0e0e0;
    color: #121212;
}